<section class="container py-5 alert alert-success">
    <p>Se ha eliminado de manera satisfactoria el registro</p>
    <a href="/hoteles" class="text-center text-primary">
        Volver
    </a>
</section>
