body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img{
  width: 275px;
  height: 183px;
  box-shadow: 5px 5px 9px black;
}
img:hover{
  width: 275px;
  height: 183px;
  box-shadow: -5px -5px 9px black;
}
